/* Itens */

.gallery__item:nth-child(1) {
    left: 0;
    z-index: 1;
    transform: translateX(-100%) scale(.8);
  }
  
  .gallery__item:nth-child(2) {
    left: 0;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
  }
  
  .gallery__item:nth-child(3) {
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) scale(1);
  }
  
  .gallery__item:nth-child(4) {
    left: 100%;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
  }
  
  .gallery__item:nth-child(n+5) {
    left: 100%;
    z-index: 1;
    transform: scale(.8);
  }